:host {
    display: flex;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.usage-history-container {
    mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    mat-button-toggle-group {
        border-radius: 0.75rem;
        overflow: hidden;
    }

    .usage-history-drawer {
        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }

    .history-date-range {
        .mat-mdc-form-field-infix {
            min-height: 2.5rem;
        }
    }
}
