:host {
    display: contents;
}

.add-credits-container {
    mat-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    app-payment-card {
        display: block;
    }
}
