{
  "openapi": "3.0.3",
  "info": {
    "title": "Verifik Smart Agent — Verifik proxy (x402)",
    "version": "1.0.0",
    "description": "Paid proxy to Verifik identity and data APIs. Pricing matches runtime x402 middleware (tools-manifest.json).",
    "x-guidance": "Verifik Smart Agent proxy API — base URL: https://ai.verifik.co\n\nPAYMENT (x402): Most clients call concrete paths under /v2 or /v3. Without a valid Verifik **user** Bearer JWT, the API responds **402 Payment Required** until you pay.\n- Submit on-chain payment, then retry with header **x-payment-tx** set to the transaction hash (or **Authorization: L402 <txHash>**).\n- Optional **x-payment-chain-id** (decimal or 0x hex) selects the settlement chain; default is Avalanche C-Chain. Assets: native gas token, USDC, or VKA where configured — see runtime 402 JSON for chain-specific fields.\n\nCREDITS BYPASS: **Authorization: Bearer <user JWT>** (a normal Verifik client token, not the server service token) skips on-chain payment for the same routes.\n\nALTERNATE ENTRY: **GET/POST /api/proxy** with required header **x-target-url** pointing at the same /v2 or /v3 path (absolute or relative). Price is resolved from that target path. Prefer documented /v2 and /v3 operations when possible.\n\nOpenAPI is canonical for listing; **/.well-known/x402** lists payable resource strings (METHOD + path)."
  },
  "servers": [
    {
      "url": "https://ai.verifik.co"
    }
  ],
  "tags": [
    {
      "name": "VerifikProxy",
      "description": "x402-gated Verifik API proxy paths"
    }
  ],
  "paths": {
    "/v2/dea": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "world_api_dea",
        "summary": "Global - DEA Background Check",
        "description": "Comprehensive background check service using DEA (Drug Enforcement Administration) databases. Search by full name OR document number with document type. Verify individuals against international drug enforcement records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/v2/usa/vehicle": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "usa_api_vehicle",
        "summary": "USA - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AL",
                "AK",
                "AZ",
                "AR",
                "CA",
                "CO",
                "CT",
                "DE",
                "FL",
                "GA",
                "HI",
                "ID",
                "IL",
                "IN",
                "IA",
                "KS",
                "KY",
                "LA",
                "ME",
                "MD",
                "MA",
                "MI",
                "MN",
                "MS",
                "MO",
                "MT",
                "NE",
                "NV",
                "NH",
                "NJ",
                "NM",
                "NY",
                "NC",
                "ND",
                "OH",
                "OK",
                "OR",
                "PA",
                "RI",
                "SC",
                "SD",
                "TN",
                "TX",
                "UT",
                "VT",
                "VA",
                "WA",
                "WV",
                "WI",
                "WY"
              ]
            },
            "description": "Parameter: state"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/simit/acuerdos": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_simit_agreements",
        "summary": "Colombia - SIMIT Payment Agreements",
        "description": "Verify active payment agreements for transit fines registered in SIMIT.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/co/runt/conductor": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_driver",
        "summary": "Colombia - Driver License Verification (RUNT)",
        "description": "Verify Colombian driver license status and validity through the RUNT system.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PA",
                "PPT",
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/registraduria/votacion": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_registraduria_voting",
        "summary": "Colombia - Electoral Records Verification",
        "description": "Electoral records verification service for Colombia citizens. Provides voting status and electoral information.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/runt/vehiculo": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_vehicle",
        "summary": "Colombia - Basic Vehicle Information",
        "description": "Retrieve general registration data and basic characteristics of a Colombian vehicle by its license plate.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "TI",
                "CE",
                "PA",
                "RC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/simit/suspensiones": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_simit_suspensions",
        "summary": "Colombia - SIMIT License Suspensions",
        "description": "Check for driver license suspensions or cancellations in the SIMIT system.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/cl/vehicle": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "chile_api_vehicle",
        "summary": "Chile - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/runt/vehicle-by-vin": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_vehicle_complete_by_vin",
        "summary": "Colombia - Complete Vehicle Report (By VIN)",
        "description": "Get an exhaustive history and technical report of a vehicle in Colombia using its Vehicle Identification Number (VIN).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: vin"
          }
        ]
      }
    },
    "/v2/br/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "brasil_api_identity_lookup",
        "summary": "Brazil - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CPF"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: dateOfBirth"
          }
        ]
      }
    },
    "/v2/communication/email": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "communication_global_email_otp",
        "summary": "Email OTP",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Parameter: email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/co/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_identity_lookup",
        "summary": "Colombia - National ID Verification",
        "description": "Verify Colombian national ID (cédula) information. Get full name, document status, and basic citizen verification data.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/cedula/rethus": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_rethus",
        "summary": "Colombia - Health Records Verification",
        "description": "Access Colombian health records through Rethus system. Verify medical history, health status, and healthcare provider information. Requires document type (CC, CE, PPT) and document number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/contraloria/certificado": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_contraloria_certificate",
        "summary": "Colombia - Certificate of Fiscal Responsibility (Contraloría)",
        "description": "Certificate of fiscal responsibility from the Contraloría General de la República.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "TI",
                      "PA",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/ve/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "venezuela_api_identity_lookup",
        "summary": "Venezuela - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCVE"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/mx/vehiculo/placa": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "mexico_api_vehicle",
        "summary": "Mexico - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/interpol": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "world_api_interpol",
        "summary": "Global - Interpol Background Check",
        "description": "International background check using Interpol databases. Search by full name OR document number with document type. Verify individuals against international criminal records and wanted lists.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/v2/ofac": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "world_api_ofac",
        "summary": "Global - OFAC Sanctions Check",
        "description": "Check individuals and entities against OFAC (Office of Foreign Assets Control) sanctions lists. Search by full name OR document number with document type. Verify compliance with US economic sanctions.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/v2/mx/curp": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "mexico_identity_lookup",
        "summary": "Mexico - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CURP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/pe/vehiculo/placa": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "peru_api_vehicle",
        "summary": "Peru - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/pe/vehiculo/soat": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "peru_api_vehicle_soat",
        "summary": "Peru - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.6"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/procuraduria/antecedentes": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_criminal_history",
        "summary": "Colombia - Legal Background Check",
        "description": "Legal background verification service for Colombia citizens. Provides information about legal proceedings and judicial records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/cr/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "costarica_api_identity_lookup",
        "summary": "Costa Rica - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCCR"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/cl/company": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "chile_api_business_lookup",
        "summary": "Chile - Company Lookup",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RUT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/ec/vehiculo/placa/multas": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "ecuador_api_vehicle_fines",
        "summary": "Ecuador - Vehicle Fines",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/simit/comparendo": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_simit_subpoenas_details",
        "summary": "Colombia - SIMIT Subpoena Details",
        "description": "Get detailed information regarding a specific transit subpoena, including infraction type and cost.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "numeroComparendo": {
                    "type": "string",
                    "description": "Parameter: numeroComparendo"
                  },
                  "idOrganismoTransito": {
                    "type": "string",
                    "description": "Parameter: idOrganismoTransito"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "numeroComparendo",
                  "idOrganismoTransito"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/br/company": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "brasil_api_company_lookup",
        "summary": "Brazil - Company Lookup",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CNPJ"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/company/dian/invoicer": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_dian_invoicer",
        "summary": "Colombia - DIAN Electronic Invoicer Status",
        "description": "Verify electronic invoicing (facturación electrónica) registration status with DIAN.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/contracts": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "api_colombia_contracts",
        "summary": "Colombia - Government Contracts Verification",
        "description": "Verify government contracts and procurement records in Colombia.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT",
                "CC",
                "CE",
                "PA",
                "RC",
                "TI",
                "PEP",
                "CCVE",
                "CURP",
                "DNI",
                "CCEC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/policia/rnmc": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_police_rnmc",
        "summary": "Colombia - Police Records Check",
        "description": "Police records verification service for Colombia citizens. Provides information about police interactions and records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "TI",
                "PA"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date"
          }
        ]
      }
    },
    "/v2/co/company/dian": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_dian",
        "summary": "Colombia - Tax Information Verification",
        "description": "Verify tax information through Colombia's DIAN (Dirección de Impuestos y Aduanas Nacionales) system. Check tax status, obligations, and compliance records. Requires document type and document number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/rama/proceso": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_judicial_process_details",
        "summary": "Colombia - Judicial Process Details",
        "description": "Comprehensive details of a specific judicial process in Colombia using its process number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "processNumber": {
                    "type": "string",
                    "description": "Parameter: processNumber"
                  }
                },
                "required": [
                  "processNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/co/simit/resoluciones": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_simit_resolutions",
        "summary": "Colombia - SIMIT Resolutions",
        "description": "Access formal resolutions for traffic infractions that have reached the sanction stage.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/co/afiliaciones": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_affiliations",
        "summary": "Colombia - Health & Social Security Affiliations",
        "description": "Verify health and social security affiliations for Colombia. Access EPS, ARL, and pension information.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "date": {
                    "type": "string",
                    "description": "Parameter: date"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "date"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/co/registraduria/certificado": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_registraduria_certificate",
        "summary": "Colombia - Electoral Records Verification",
        "description": "Electoral records verification service for Colombia citizens. Provides voting status and electoral information.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date"
          }
        ]
      }
    },
    "/v2/co/deudoresmorosos": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_delinquent_debtors",
        "summary": "Colombia - Delinquent Debtors (BDME)",
        "description": "Check if a person or company is listed in the BDME (Base de Datos de Morosos) delinquent debtors registry.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "NIT",
                      "CE"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/ec/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "ecuador_api_identity_lookup",
        "summary": "Ecuador - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/ec/vehiculo/placa": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "ecuador_api_vehicle",
        "summary": "Ecuador - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/simit/consultar": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_simit_complete",
        "summary": "Colombia - SIMIT Complete Transit History",
        "description": "Comprehensive transit background check including fines, agreements, and suspensions by ID.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT",
                "CC",
                "CE",
                "PA",
                "RC",
                "TI"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/europol": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "world_api_europol",
        "summary": "Global - Europol Background Check",
        "description": "European background check using Europol databases. Search by full name OR document number with document type. Verify individuals against European criminal records and intelligence databases.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/v2/co/rama/procesos": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_judicial_processes",
        "summary": "Colombia - Judicial Processes",
        "description": "Search for judicial processes using document number across Colombian courts.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "NIT"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/pa/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "panama_api_identity_lookup",
        "summary": "Panama - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCPA"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: dateOfBirth"
          }
        ]
      }
    },
    "/v2/es/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "spain_api_identity_lookup",
        "summary": "Spain - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIE",
                "DNIES"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: expirationDate"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/usa/florida/driver-license": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "usa_api_driver_license_lookup",
        "summary": "USA - Driver License Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/communication/whatsapp": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "communication_global_messaging_whatsapp",
        "summary": "Global - WhatsApp Messaging",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string",
                    "description": "Parameter: countryCode"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Parameter: phone"
                  },
                  "message": {
                    "type": "string",
                    "description": "Parameter: message"
                  }
                },
                "required": [
                  "countryCode",
                  "phone",
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/br/vehicle": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "brasil_api_vehicle",
        "summary": "Brazil - Vehicle Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/ar/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "argentina_api_identity_lookup",
        "summary": "Argentina - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DNIAR"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/ec/company": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "ecuador_api_company_lookup",
        "summary": "Ecuador - Company Lookup",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RUCEC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/situacion-militar": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_military_situation",
        "summary": "Colombia - Military Service Records",
        "description": "Verify military service records through Colombia's military system. Check service status, military obligations, and service records. Requires Colombian ID (CC) and document number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/onu": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "world_api_onu",
        "summary": "Global - UN Sanctions Check",
        "description": "Check individuals and entities against United Nations sanctions lists. Search by full name OR document number with document type. Verify compliance with international sanctions regimes.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/v2/co/sena/certificados": {
      "post": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_sena",
        "summary": "Colombia - SENA Certificates",
        "description": "Verify SENA (Servicio Nacional de Aprendizaje) training and certification records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "TI",
                      "CE",
                      "PA",
                      "RC",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/v2/fbi": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "world_api_fbi",
        "summary": "Global - FBI Background Check",
        "description": "Comprehensive background check using FBI (Federal Bureau of Investigation) databases. Search by full name OR document number with document type. Verify individuals against federal criminal records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/v2/co/vehiculo/pico-y-placa": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_pico_placa",
        "summary": "Colombia - Pico y Placa Restrictions",
        "description": "Check current transit restrictions (Pico y Placa) for a specific vehicle across various Colombian cities.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/cl/cedula": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "chile_api_identity_lookup",
        "summary": "Chile - National ID Verification",
        "description": "Provides reliable verification and validation services.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RUN"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/v2/co/runt/vehicle-by-plate": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_vehicle_complete_by_plate",
        "summary": "Colombia - Complete Vehicle Report (By Plate)",
        "description": "Get an exhaustive history and technical report of a vehicle in Colombia using its license plate number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PA",
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/v2/co/rama/abogados": {
      "get": {
        "tags": [
          "VerifikProxy"
        ],
        "operationId": "colombia_api_lawyers",
        "summary": "Colombia - Lawyers Verification",
        "description": "Verify lawyer registration and professional status with the Colombian bar.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
[...]
