{
  "openapi": "3.0.3",
  "info": {
    "title": "Verifik AI — x402 KYC & Verifik proxy",
    "version": "1.0.0",
    "description": "x402-native KYC, KYB, and public-record APIs with strong Latin American coverage. Paid proxy to Verifik; pricing matches tools-manifest.json and runtime x402 middleware.",
    "x-guidance": "Verifik Smart Agent proxy API — base URL: https://ai.verifik.co\n\nPAYMENT (x402): Most clients call concrete paths under /v2 or /v3. Without a valid Verifik **user** Bearer JWT, the API responds **402 Payment Required** until you pay.\n- Submit on-chain payment, then retry with header **x-payment-tx** set to the transaction hash (or **Authorization: L402 <txHash>**).\n- Optional **x-payment-chain-id** (decimal or 0x hex) selects the settlement chain; default is Avalanche C-Chain. Assets: native gas token, USDC, or VKA where configured — see runtime 402 JSON for chain-specific fields.\n\nCREDITS BYPASS: **Authorization: Bearer <user JWT>** (a normal Verifik client token, not the server service token) skips on-chain payment for the same routes.\n\nALTERNATE ENTRY: **GET/POST /api/proxy** with required header **x-target-url** pointing at the same /v2 or /v3 path (absolute or relative). Price is resolved from that target path. Prefer documented /v2 and /v3 operations when possible.\n\nOpenAPI is canonical for listing; **/.well-known/x402** lists payable resource strings (METHOD + path)."
  },
  "servers": [
    {
      "url": "https://ai.verifik.co"
    }
  ],
  "tags": [
    {
      "name": "KYC",
      "description": "Identity verification, sanctions, and watchlists"
    },
    {
      "name": "KYB",
      "description": "Business, registry, and company lookups"
    },
    {
      "name": "Data",
      "description": "Government and proprietary datasets via API"
    },
    {
      "name": "LATAM",
      "description": "Strong coverage in Latin America and regional registries"
    }
  ],
  "x-discovery": {
    "tags": [
      "KYC",
      "KYB",
      "Data",
      "LATAM"
    ]
  },
  "paths": {
    "/api/dea": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "world_api_dea",
        "summary": "Global - DEA Background Check",
        "description": "Comprehensive background check service using DEA (Drug Enforcement Administration) databases. Search by full name OR document number with document type. Verify individuals against international drug enforcement records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/usa/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "usa_api_vehicle",
        "summary": "USA - Vehicle Verification",
        "description": "Retrieve U.S. vehicle details by license plate and state (NHTSA-backed decode). Use plate and state as query parameters.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AL",
                "AK",
                "AZ",
                "AR",
                "CA",
                "CO",
                "CT",
                "DE",
                "FL",
                "GA",
                "HI",
                "ID",
                "IL",
                "IN",
                "IA",
                "KS",
                "KY",
                "LA",
                "ME",
                "MD",
                "MA",
                "MI",
                "MN",
                "MS",
                "MO",
                "MT",
                "NE",
                "NV",
                "NH",
                "NJ",
                "NM",
                "NY",
                "NC",
                "ND",
                "OH",
                "OK",
                "OR",
                "PA",
                "RI",
                "SC",
                "SD",
                "TN",
                "TX",
                "UT",
                "VT",
                "VA",
                "WA",
                "WV",
                "WI",
                "WY"
              ]
            },
            "description": "Parameter: state"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/acuerdos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_agreements",
        "summary": "Colombia - SIMIT Payment Agreements",
        "description": "Verify active payment agreements for transit fines registered in SIMIT.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/runt/conductor": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_driver",
        "summary": "Colombia - Driver License Verification (RUNT)",
        "description": "Verify Colombian driver license status and validity through the RUNT system.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PA",
                "PPT",
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/registraduria/votacion": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_registraduria_voting",
        "summary": "Colombia - Electoral Records Verification",
        "description": "Electoral records verification service for Colombia citizens. Provides voting status and electoral information.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/runt/vehiculo": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_vehicle",
        "summary": "Colombia - Basic Vehicle Information",
        "description": "Retrieve general registration data and basic characteristics of a Colombian vehicle by its license plate.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "TI",
                "CE",
                "PA",
                "RC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/suspensiones": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_suspensions",
        "summary": "Colombia - SIMIT License Suspensions",
        "description": "Check for driver license suspensions or cancellations in the SIMIT system.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/cl/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_vehicle",
        "summary": "Chile - Vehicle Verification",
        "description": "Query by license plate (plate, no spaces or dots). Typical fields include make, model, year, VIN/chassis, engine, color, vehicle type, fines summary, and owner RUT when the registry exposes them—use for fleet onboarding, collateral checks, and claims workflows.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/runt/vehicle-by-vin": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_vehicle_complete_by_vin",
        "summary": "Colombia - Complete Vehicle Report (By VIN)",
        "description": "Get an exhaustive history and technical report of a vehicle in Colombia using its Vehicle Identification Number (VIN).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: vin"
          }
        ]
      }
    },
    "/api/br/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "brasil_api_identity_lookup",
        "summary": "Brazil - National ID Verification",
        "description": "Confirms a Brazilian natural person’s CPF against official sources. Provide CPF, date of birth in DD/MM/YYYY, and the document number with or without separators; when the data matches, the response returns normalized name parts and identifiers. Built for KYC, fraud prevention, and regulated onboarding.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CPF"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: dateOfBirth"
          }
        ]
      }
    },
    "/api/communication/email": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "communication_global_email_otp",
        "summary": "Email OTP",
        "description": "Send a one-time passcode by email for user verification flows. Provide the recipient address and message parameters; the API delivers the OTP and returns send/delivery metadata for KYC and login confirmation.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Parameter: email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_identity_lookup",
        "summary": "Colombia - National ID Verification",
        "description": "Verify Colombian national ID (cédula) information. Get full name, document status, and basic citizen verification data.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/cedula/rethus": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_rethus",
        "summary": "Colombia - Health Records Verification",
        "description": "Access Colombian health records through Rethus system. Verify medical history, health status, and healthcare provider information. Requires document type (CC, CE, PPT) and document number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/contraloria/certificado": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_contraloria_certificate",
        "summary": "Colombia - Certificate of Fiscal Responsibility (Contraloría)",
        "description": "Certificate of fiscal responsibility from the Contraloría General de la República.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "TI",
                      "PA",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/ve/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "venezuela_api_identity_lookup",
        "summary": "Venezuela - National ID Verification",
        "description": "This route returns identity data for Venezuelan nationals using the CCVE (Cédula de Identidad) document class. Send the cédula number as documentNumber; the API resolves the record and returns structured name fields for KYC, onboarding, and fraud checks. For foreign residents, use GET /v2/ve/foreigner-id (CEVE) instead.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCVE"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/mx/vehiculo/placa": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "mexico_api_vehicle",
        "summary": "Mexico - Vehicle Verification",
        "description": "The Vehicle Information service provides detailed information about a vehicle in Mexico based on its license plate number. This service specifically returns information about a vehicle's make, model, year, VIN, and other related details. Pass the plate in the plate query parameter on a GET request; responses include registration-oriented fields when a match is found.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/interpol": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "world_api_interpol",
        "summary": "Global - Interpol Background Check",
        "description": "International background check using Interpol databases. Search by full name OR document number with document type. Verify individuals against international criminal records and wanted lists.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/ofac": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "world_api_ofac",
        "summary": "Global - OFAC Sanctions Check",
        "description": "Check individuals and entities against OFAC (Office of Foreign Assets Control) sanctions lists. Search by full name OR document number with document type. Verify compliance with US economic sanctions.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/mx/curp": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "mexico_identity_lookup",
        "summary": "Mexico - National ID Verification",
        "description": "This endpoint verifies a Mexican national’s CURP (Clave Única de Registro de Población) against official records. Send documentType and documentNumber on a GET request; a successful response confirms the identity record and returns validated name and biographical fields when the CURP is recognized.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CURP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/pe/vehiculo/placa": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "peru_api_vehicle",
        "summary": "Peru - Vehicle Verification",
        "description": "The Peruvian Vehicle Information service provides detailed data about registered vehicles in Peru based on their license plate number. The response includes key details such as the vehicle's make, model, year, engine and chassis serial numbers, seating capacity, and usage type.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/pe/vehiculo/soat": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "peru_api_vehicle_soat",
        "summary": "Peru - Vehicle Verification",
        "description": "This service provides information on the insurance status of a vehicle in Peru. It returns details including the insurance company name, policy start and end dates, vehicle plate number, policy number, usage type, vehicle class, and policy status.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.6"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/procuraduria/antecedentes": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_criminal_history",
        "summary": "Colombia - Legal Background Check",
        "description": "Legal background verification service for Colombia citizens. Provides information about legal proceedings and judicial records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/cr/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "costarica_api_identity_lookup",
        "summary": "Costa Rica - National ID Verification",
        "description": "This endpoint verifies the CCCR (Cédula de Identidad Costarricense) against official sources. Send documentType as CCCR and the documentNumber (cédula number without spaces) on a GET request; the response includes structured name fields for KYC, onboarding, and fraud checks.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCCR"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/cl/transport-vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_transport_vehicle",
        "summary": "Chile - Public Transport Vehicle",
        "description": "Provides reliable verification and validation services for Chile public transport vehicles.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/cl/company": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_business_lookup",
        "summary": "Chile - Company Lookup",
        "description": "This service allows you to retrieve information about a company in Chile by providing its document type and number. The service response will contain the name of the company, its business category, subcategory, and activity. Additionally, this service will provide you with a list of services for which the company is authorized to work.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RUT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/ec/vehiculo/placa/multas": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_vehicle_fines",
        "summary": "Ecuador - Vehicle Fines",
        "description": "Look up an Ecuadorian vehicle by plate (license plate). Returns registration details and outstanding fines for compliance, fleet, and risk checks.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/comparendo": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_subpoenas_details",
        "summary": "Colombia - SIMIT Subpoena Details",
        "description": "Get detailed information regarding a specific transit subpoena, including infraction type and cost.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "numeroComparendo": {
                    "type": "string",
                    "description": "Parameter: numeroComparendo"
                  },
                  "idOrganismoTransito": {
                    "type": "string",
                    "description": "Parameter: idOrganismoTransito"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "numeroComparendo",
                  "idOrganismoTransito"
                ]
              }
            }
          }
        }
      }
    },
    "/api/br/company": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "brasil_api_company_lookup",
        "summary": "Brazil - Company Lookup",
        "description": "Verifies a Brazilian legal entity against official CNPJ registers. Send documentType=CNPJ and a 14-digit documentNumber with no punctuation. Typical fields include registration status, address, legal nature, and primary and secondary economic activities. Use it for KYB, vendor due diligence, and compliance programs.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CNPJ"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/company/dian/invoicer": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_dian_invoicer",
        "summary": "Colombia - DIAN Electronic Invoicer Status",
        "description": "Verify electronic invoicing (facturación electrónica) registration status with DIAN.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/contracts": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "api_colombia_contracts",
        "summary": "Colombia - Government Contracts Verification",
        "description": "Verify government contracts and procurement records in Colombia.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT",
                "CC",
                "CE",
                "PA",
                "RC",
                "TI",
                "PEP",
                "CCVE",
                "CURP",
                "DNI",
                "CCEC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/policia/rnmc": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_police_rnmc",
        "summary": "Colombia - Police Records Check",
        "description": "Police records verification service for Colombia citizens. Provides information about police interactions and records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "TI",
                "PA"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date"
          }
        ]
      }
    },
    "/api/co/company/dian": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_dian",
        "summary": "Colombia - Tax Information Verification",
        "description": "Verify tax information through Colombia's DIAN (Dirección de Impuestos y Aduanas Nacionales) system. Check tax status, obligations, and compliance records. Requires document type and document number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/rama/proceso": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_judicial_process_details",
        "summary": "Colombia - Judicial Process Details",
        "description": "Comprehensive details of a specific judicial process in Colombia using its process number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "processNumber": {
                    "type": "string",
                    "description": "Parameter: processNumber"
                  }
                },
                "required": [
                  "processNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/simit/resoluciones": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_resolutions",
        "summary": "Colombia - SIMIT Resolutions",
        "description": "Access formal resolutions for traffic infractions that have reached the sanction stage.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/afiliaciones": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_affiliations",
        "summary": "Colombia - Health & Social Security Affiliations",
        "description": "Verify health and social security affiliations for Colombia. Access EPS, ARL, and pension information.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "date": {
                    "type": "string",
                    "description": "Parameter: date"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "date"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/registraduria/certificado": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_registraduria_certificate",
        "summary": "Colombia - Electoral Records Verification",
        "description": "Electoral records verification service for Colombia citizens. Provides voting status and electoral information.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: date"
          }
        ]
      }
    },
    "/api/co/deudoresmorosos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_delinquent_debtors",
        "summary": "Colombia - Delinquent Debtors (BDME)",
        "description": "Check if a person or company is listed in the BDME (Base de Datos de Morosos) delinquent debtors registry.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "NIT",
                      "CE"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/ec/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_identity_lookup",
        "summary": "Ecuador - National ID Verification",
        "description": "Verify an Ecuadorian citizen using documentType CCEC and documentNumber. Returns identity fields from official records to support KYC and compliance.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/ec/vehiculo/placa": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_vehicle",
        "summary": "Ecuador - Vehicle Verification",
        "description": "Query an Ecuadorian vehicle by plate (no spaces or periods). Use for verification, insurance, fleet, and compliance workflows.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/consultar": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_complete",
        "summary": "Colombia - SIMIT Complete Transit History",
        "description": "Comprehensive transit background check including fines, agreements, and suspensions by ID.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT",
                "CC",
                "CE",
                "PA",
                "RC",
                "TI"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/europol": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "world_api_europol",
        "summary": "Global - Europol Background Check",
        "description": "European background check using Europol databases. Search by full name OR document number with document type. Verify individuals against European criminal records and intelligence databases.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/co/rama/procesos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_judicial_processes",
        "summary": "Colombia - Judicial Processes",
        "description": "Search for judicial processes using document number across Colombian courts.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "NIT"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/pa/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "panama_api_identity_lookup",
        "summary": "Panama - National ID Verification",
        "description": "Verify Panamanian CCPA (Cédula de Identidad Personal) data against official civil-registry sources. Send documentType (CCPA), a normalized documentNumber, and dateOfBirth in DD/MM/YYYY; the response confirms that the identity record is consistent for KYC, customer onboarding, and fraud controls.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCPA"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: dateOfBirth"
          }
        ]
      }
    },
    "/api/es/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "spain_api_identity_lookup",
        "summary": "Spain - National ID Verification",
        "description": "Verifies a Spanish natural person’s identity against official sources using documentType (DNIES or NIE), documentNumber (no spaces), and date (expiry in DD/MM/YYYY). Use for KYC, fraud prevention, and regulated onboarding.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIE",
                "DNIES"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: expirationDate"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/usa/florida/driver-license": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "usa_api_driver_license_lookup",
        "summary": "USA - Driver License Verification",
        "description": "This service allows developers to validate the status, restrictions, endorsements, and designations of Florida driver licenses. By providing a valid Florida driver license number, the service response with the license status, expiration date, restrictions, endorsements, and designations.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/communication/whatsapp": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "communication_global_messaging_whatsapp",
        "summary": "Global - WhatsApp Messaging",
        "description": "Send WhatsApp messages globally through Verifik's gateway. Provide the recipient phone number, template, and variables; useful for OTP delivery, transactional alerts, and KYC notifications.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string",
                    "description": "Parameter: countryCode"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Parameter: phone"
                  },
                  "message": {
                    "type": "string",
                    "description": "Parameter: message"
                  }
                },
                "required": [
                  "countryCode",
                  "phone",
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/api/br/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "brasil_api_vehicle",
        "summary": "Brazil - Vehicle Verification",
        "description": "The Verifik API returns a normalized vehicle record for that plate, including plate, brand, model, model year and year of manufacture, chassis (VIN), engine, color, body type, fuel type, transmission, doors, manufacturer or plant, FIPE codes where they apply to the vehicle, and irregularity or restriction indicators when they exist for that registration. Use it to confirm the unit in front of you matches the official line before you continue.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/ar/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "argentina_api_identity_lookup",
        "summary": "Argentina - National ID Verification",
        "description": "Verify an Argentine identity using documentType DNIAR and documentNumber. Returns identity fields to support KYC and compliance.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "DNIAR"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/ec/company": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_company_lookup",
        "summary": "Ecuador - Company Lookup",
        "description": "Look up an Ecuadorian company using documentType RUCEC and documentNumber (13 digits, no separators). Returns registration-oriented fields to support KYB, vendor screening, and compliance.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RUCEC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/situacion-militar": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_military_situation",
        "summary": "Colombia - Military Service Records",
        "description": "Verify military service records through Colombia's military system. Check service status, military obligations, and service records. Requires Colombian ID (CC) and document number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/onu": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "world_api_onu",
        "summary": "Global - UN Sanctions Check",
        "description": "Check individuals and entities against United Nations sanctions lists. Search by full name OR document number with document type. Verify compliance with international sanctions regimes.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/co/sena/certificados": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_sena",
        "summary": "Colombia - SENA Certificates",
        "description": "Verify SENA (Servicio Nacional de Aprendizaje) training and certification records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "TI",
                      "CE",
                      "PA",
                      "RC",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/fbi": {
      "get": {
[...]
