<!-- Dialog Backdrop -->
<div class="dialog-backdrop" *ngIf="isOpen">
  <div class="dialog-container">
    <div class="dialog-content">
      <div class="content-section">
        <div class="icon-wrapper">
          <svg viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm3 2a1 1 0 011-1h1a1 1 0 011 1v1a1 1 0 01-1 1H8a1 1 0 01-1-1V6zM4 18a2 2 0 00 2-2v-4a2 2 0 00-2-2v6zm12-2a2 2 0 002-2V6a2 2 0 00-2-2v10zm-4-4a2 2 0 00-2-2H6a2 2 0 00-2 2v4a2 2 0 002 2h4a2 2 0 002-2v-4z" clip-rule="evenodd"/>
          </svg>
        </div>
        <h2 class="title">{{ 'subscriptionPlans.billingRequired.title' | transloco }}</h2>
        <p class="message">{{ 'subscriptionPlans.billingRequired.message' | transloco }}</p>
        <div class="actions">
          <button class="btn btn-confirm" (click)="onGoToBilling()">
            {{ 'subscriptionPlans.billingRequired.cta' | transloco }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
