{
  "openapi": "3.0.3",
  "info": {
    "title": "Verifik AI — x402 KYC & Verifik proxy",
    "version": "1.0.0",
    "description": "x402-native KYC, KYB, and public-record APIs with strong Latin American coverage. Paid proxy to Verifik; pricing matches tools-manifest.json and runtime x402 middleware.",
    "x-guidance": "Verifik Smart Agent proxy API — base URL: https://ai.verifik.co\n\nPAYMENT (x402): Most clients call concrete paths under /v2 or /v3. Without a valid Verifik **user** Bearer JWT, the API responds **402 Payment Required** until you pay.\n- Submit on-chain payment, then retry with header **x-payment-tx** set to the transaction hash (or **Authorization: L402 <txHash>**).\n- Optional **x-payment-chain-id** (decimal or 0x hex) selects the settlement chain; default is Avalanche C-Chain. Assets: native gas token, USDC, or VKA where configured — see runtime 402 JSON for chain-specific fields.\n\nCREDITS BYPASS: **Authorization: Bearer <user JWT>** (a normal Verifik client token, not the server service token) skips on-chain payment for the same routes.\n\nALTERNATE ENTRY: **GET/POST /api/proxy** with required header **x-target-url** pointing at the same /v2 or /v3 path (absolute or relative). Price is resolved from that target path. Prefer documented /v2 and /v3 operations when possible.\n\nOpenAPI is canonical for listing; **/.well-known/x402** lists payable resource strings (METHOD + path)."
  },
  "servers": [
    {
      "url": "https://ai.verifik.co"
    }
  ],
  "tags": [
    {
      "name": "KYC",
      "description": "Identity verification, sanctions, and watchlists"
    },
    {
      "name": "KYB",
      "description": "Business, registry, and company lookups"
    },
    {
      "name": "Data",
      "description": "Government and proprietary datasets via API"
    },
    {
      "name": "LATAM",
      "description": "Strong coverage in Latin America and regional registries"
    },
    {
      "name": "Global",
      "description": "International sanctions, watchlists, and cross-border checks"
    },
    {
      "name": "USA",
      "description": "United States identity, company, and vehicle lookups"
    }
  ],
  "x-discovery": {
    "tags": [
      "KYC",
      "KYB",
      "Data",
      "LATAM",
      "Global",
      "USA"
    ]
  },
  "paths": {
    "/api/dea": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "world_api_dea",
        "summary": "Global - DEA Background Check",
        "description": "DEA background check service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/usa/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "USA"
        ],
        "operationId": "usa_api_vehicle",
        "summary": "United States - Vehicle Information",
        "description": "US vehicle validation service for retrieving vehicle information using license plate and state",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AL",
                "AK",
                "AZ",
                "AR",
                "CA",
                "CO",
                "CT",
                "DE",
                "FL",
                "GA",
                "HI",
                "ID",
                "IL",
                "IN",
                "IA",
                "KS",
                "KY",
                "LA",
                "ME",
                "MD",
                "MA",
                "MI",
                "MN",
                "MS",
                "MO",
                "MT",
                "NE",
                "NV",
                "NH",
                "NJ",
                "NM",
                "NY",
                "NC",
                "ND",
                "OH",
                "OK",
                "OR",
                "PA",
                "RI",
                "SC",
                "SD",
                "TN",
                "TX",
                "UT",
                "VT",
                "VA",
                "WA",
                "WV",
                "WI",
                "WY"
              ]
            },
            "description": "Parameter: state"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/acuerdos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_agreements",
        "summary": "Colombia - SIMIT - Agreements",
        "description": "SIMIT payment agreements for traffic violations service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/runt/conductor": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_driver",
        "summary": "Colombia - RUNT - Driver's License",
        "description": "Verify driver''s licenses in Colombia using the document number with the Verifik API. Access official RUNT data, including license status, categories, and expiration dates.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PA",
                "PPT",
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/registraduria/votacion": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_registraduria_voting",
        "summary": "Colombia - Retrieve Voting Information for Colombian Citizens",
        "description": "Retrieve voting information for Colombian citizens",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/runt/vehiculo": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_vehicle",
        "summary": "Colombia - SOAT and RTM Validation in RUNT",
        "description": "Verify the status of mandatory insurance (SOAT) and technical review (RTM) for vehicles in Colombia. Real-time API for traffic compliance.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "TI",
                "CE",
                "PA",
                "RC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/suspensiones": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_suspensions",
        "summary": "Colombia - SIMIT - License suspensions",
        "description": "Query driver license suspension or cancellation records in Colombia’s SIMIT system by holder identification.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/cl/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_vehicle",
        "summary": "Chile - Vehicle Information",
        "description": "Chilean vehicle information service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/v3/cl/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_vehicle_v3",
        "summary": "Chile - Vehicle Technical Review",
        "description": "Query Chile vehicle technical review status and inspection history by license plate.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/runt/vehicle-by-vin": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_vehicle_complete_by_vin",
        "summary": "Colombia - Vehicle Records by VIN",
        "description": "Query vehicle information in Colombia using the VIN (Vehicle Identification Number). Connect to the RUNT and obtain complete official data.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: vin"
          }
        ]
      }
    },
    "/api/br/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "brasil_api_identity_lookup",
        "summary": "Brazil - Brazilian Citizen",
        "description": "Validate the identity of individuals in Brazil with Verifik's KYC API. Connect with official sources and verify personal data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CPF"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: dateOfBirth"
          }
        ]
      }
    },
    "/api/communication/email": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "communication_global_email_otp",
        "summary": "Email OTP",
        "description": "Send a one-time passcode by email for user verification flows. Provide the recipient address and message parameters; the API delivers the OTP and returns send/delivery metadata for KYC and login confirmation.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Parameter: email"
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_identity_lookup",
        "summary": "Colombia - Colombian Citizen",
        "description": "Validate the identity of individuals in Colombia with Verifik's KYC API. Connect with official sources and verify personal data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/cedula/rethus": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_rethus",
        "summary": "Professional Healthcare Physicians Verification",
        "description": "Query the Colombian RETHUS registry for health-sector professionals via GET /v2/co/cedula/rethus.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CC"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/contraloria/certificado": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_contraloria_certificate",
        "summary": "Colombia - Contraloría Certificate",
        "description": "The service lets you verify the certificate of good conduct issued by the Contraloría General de Colombia by entering the document type and number, and returns the query date together with the certificate as a base64-encoded PDF.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "TI",
                      "PA",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/ve/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "venezuela_api_identity_lookup",
        "summary": "Venezuela - Venezuelan Citizen (CCVE)",
        "description": "National identity lookup for Venezuela—verify cédula (CCVE) holders by document number via GET /v2/ve/cedula for KYC and fraud prevention.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCVE"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/mx/vehiculo/placa": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "mexico_api_vehicle",
        "summary": "Mexico - Mexico",
        "description": "Verify Mexican vehicle information using license plate",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/interpol": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "world_api_interpol",
        "summary": "Global - Interpol Background Check",
        "description": "This API endpoint allows you to search the criminal background of an individual or a company. To receive a successful response, it is necessary to provide the document type and document number. The response returns details such as document type, document number, first name, last name, full name, and name components for both natural and legal persons.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/ofac": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "world_api_ofac",
        "summary": "Global - OFAC Background Check",
        "description": "OFAC background check service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/mx/curp": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "mexico_identity_lookup",
        "summary": "Mexico - Mexican Citizen",
        "description": "Validate the identity of individuals in Mexico using CURP with Verifik's KYC API. Connect with official sources and verify personal data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CURP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/pe/vehiculo/placa": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "peru_api_vehicle",
        "summary": "Peru - Vehicle Information",
        "description": "The Peruvian Vehicle Information service provides detailed data about registered vehicles in Peru based on their license plate number. The response includes key details such as the vehicle''s make, model, year, engine and chassis serial numbers, seating capacity, and usage type.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/pe/vehiculo/soat": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "peru_api_vehicle_soat",
        "summary": "Peru - Vehicle Insurance",
        "description": "This service provides information on the insurance status of a vehicle in Peru. It returns details including the insurance company name, policy start and end dates, vehicle plate number, policy number, usage type, vehicle class, and policy status.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/comparendos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_subpoenas",
        "summary": "Colombia - SIMIT - Fines",
        "description": "SIMIT traffic citations and fines service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/procuraduria/antecedentes": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_criminal_history",
        "summary": "Colombia - Disciplinary Records in Colombia (attorney's office)",
        "description": "Disciplinary records in Colombia attorney's office",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/cr/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "costarica_api_identity_lookup",
        "summary": "Costa Rica - Costa Rican Citizen (CCCR)",
        "description": "National ID (CCCR cédula) verification for Costa Rica via GET /v2/cr/cedula with documentType and documentNumber for KYC and fraud prevention.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCCR"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/cr/votacion": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "costarica_api_voting_location",
        "summary": "Costa Rica - Voting Location",
        "description": "Costa Rican voting location lookup service for retrieving polling place, junta, and residence details from the official TSE Donde Votar registry.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCCR"
              ]
            },
            "description": "Document type. Allowed value: CCCR."
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Costa Rican identity document number (9 to 13 digits)."
          }
        ]
      }
    },
    "/api/cl/transport-vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_transport_vehicle",
        "summary": "Chile - Public Transport Vehicle",
        "description": "Query Chile public transport vehicle registration (RNT) by license plate: service type, capacity, brand/model, certificate dates, and operator status.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/cl/vehicle-soap": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_vehicle_soap",
        "summary": "Chile - Vehicle SOAP",
        "description": "Query Chile vehicular SOAP (Seguro Obligatorio de Accidentes Personales) certificate by license plate and policy number.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          },
          {
            "name": "policyNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: policyNumber"
          }
        ]
      }
    },
    "/api/cl/company": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "chile_api_business_lookup",
        "summary": "Chile - Business Validation",
        "description": "Look up Chilean companies by RUT: legal name, business category, activity, and authorized service lines from official registry data for KYB and vendor due diligence.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "RUT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/ec/vehiculo/placa/multas": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_vehicle_fines",
        "summary": "Ecuador - Vehicle Fines",
        "description": "Ecuadorian vehicle validation service for retrieving vehicle fines and registration information by license plate",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/comparendo": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_subpoenas_details",
        "summary": "Colombia - SIMIT Subpoena Details",
        "description": "Get detailed information regarding a specific transit subpoena, including infraction type and cost.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "numeroComparendo": {
                    "type": "string",
                    "description": "Parameter: numeroComparendo"
                  },
                  "idOrganismoTransito": {
                    "type": "string",
                    "description": "Parameter: idOrganismoTransito"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "numeroComparendo",
                  "idOrganismoTransito"
                ]
              }
            }
          }
        }
      }
    },
    "/api/br/company": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "brasil_api_company_lookup",
        "summary": "Brazil - Business Verification (CNPJ)",
        "description": "Validate Brazilian companies with Verifik's KYB API. Connect with official sources and verify business data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CNPJ"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/company/dian/invoicer": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_dian_invoicer",
        "summary": "Colombia - Colombia Legal Invoicer Verification",
        "description": "Validate legal invoicer registration in DIAN for Colombian companies with Verifik's KYB API.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/contracts": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "api_colombia_contracts",
        "summary": "Colombia - Public Contracts",
        "description": "Colombian public contracts background check",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "NIT",
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI",
                      "PEP",
                      "CCVE",
                      "CURP",
                      "DNI",
                      "CCEC"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/policia/rnmc": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_police_rnmc",
        "summary": "Colombia - Verify Police Compliance with Corrective Measures",
        "description": "Verify police compliance with corrective measures in Colombia",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "TI",
                      "PA"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "date": {
                    "type": "string",
                    "description": "Parameter: date"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "date"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/company/dian": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_dian",
        "summary": "Colombia - Colombia DIAN Verification",
        "description": "Validate Colombian companies' DIAN status with Verifik's KYB API. Connect with official sources and verify tax authority data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/co/rama/proceso": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_judicial_process_details",
        "summary": "Colombia - Retrieve Details of a Legal Process by Number",
        "description": "Get comprehensive information about a specific legal process in Colombia using its process number (Rama Judicial).",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "processNumber": {
                    "type": "string",
                    "description": "Parameter: processNumber"
                  }
                },
                "required": [
                  "processNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/simit/resoluciones": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_resolutions",
        "summary": "Colombia - SIMIT - Resolutions",
        "description": "SIMIT traffic violation resolutions service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "RC",
                      "TI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/afiliaciones": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_affiliations",
        "summary": "Colombia — Health & social security affiliations",
        "description": "Query Colombian EPS, ARL, pension (AP), compensation funds, and severance (cesantías) via GET /v2/co/afiliaciones.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "CE",
                      "PA",
                      "PEP"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "date": {
                    "type": "string",
                    "description": "Parameter: date"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "date"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/registraduria/certificado": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_registraduria_certificate",
        "summary": "Colombia — Registraduría ID validity certificate (CC)",
        "description": "Obtain the official Registraduría certificate of validity for a Colombian cédula (CC) using document number and issue date via GET /v2/co/registraduria/certificado.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  },
                  "date": {
                    "type": "string",
                    "description": "Parameter: date"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber",
                  "date"
                ]
              }
            }
          }
        }
      }
    },
    "/api/co/deudoresmorosos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_delinquent_debtors",
        "summary": "Colombia — Delinquent debtors (BDME)",
        "description": "Query Colombia’s BDME (Base de Datos de Morosos) delinquent debtors registry via GET /v2/co/deudoresmorosos.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "NIT",
                      "CE"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/ec/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_identity_lookup",
        "summary": "Ecuador - Ecuadorian Citizen",
        "description": "Validate the identity of individuals in Ecuador with Verifik's KYC API. Connect with official sources and verify personal data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/ec/vehiculo/placa": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ecuador_api_vehicle",
        "summary": "Ecuador - Vehicle Verification",
        "description": "Look up Ecuadorian vehicle registration details by license plate",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "plate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: plate"
          }
        ]
      }
    },
    "/api/co/simit/consultar": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_simit_complete",
        "summary": "Colombia - SIMIT - General query by identification document",
        "description": "SIMIT comprehensive data by document service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.4"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIT",
                "CC",
                "CE",
                "PA",
                "RC",
                "TI"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/europol": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "world_api_europol",
        "summary": "Global - Europol Background Check",
        "description": "The Europol background check service allows developers to perform real-time checks against Europol''s criminal records database. By providing a person''s document type and document number, or full name, users can verify whether the information matches any entry in Europol''s system.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Full name for search (alternative to document search)"
          },
          {
            "name": "documentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PEP",
                "PPT",
                "NIT",
                "CCVE",
                "CCEC",
                "DNI",
                "DNIAR",
                "DNIHN",
                "CIC",
                "CIE",
                "RUN",
                "CURP",
                "CUI",
                "CCPA",
                "CI",
                "CPF",
                "DUI",
                "CCUY",
                "CUIT",
                "RUCEC",
                "FME",
                "RUC",
                "RUT",
                "CNPJ"
              ]
            },
            "description": "Document type (required if not using fullName)"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document number (required if not using fullName)"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Date of birth (required for certain document types: CCPA, CI, CPF, DUI, CCUY)"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Document expiration date (required for document types CE, PPT, and PEP; dd/mm/yyyy)"
          }
        ]
      }
    },
    "/api/co/rama/procesos": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "colombia_api_judicial_processes",
        "summary": "Colombia — Judicial processes",
        "description": "List judicial processes linked to a Colombian person or company (CC or NIT) via Rama Judicial.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "CC",
                      "NIT"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/pa/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "panama_api_identity_lookup",
        "summary": "Panama - Panamanian Citizen",
        "description": "Verify Panamanian CCPA national ID data (document, name, date of birth) against official civil-registry sources for KYC and fraud prevention.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CCPA"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: dateOfBirth"
          }
        ]
      }
    },
    "/api/es/cedula": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "spain_api_identity_lookup",
        "summary": "Spain - Spanish Citizen",
        "description": "Validate the identity of individuals in Spain with Verifik's KYC API. Connect with official sources and verify personal data in seconds.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "parameters": [
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "NIE",
                "DNIES"
              ]
            },
            "description": "Parameter: documentType"
          },
          {
            "name": "expirationDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: expirationDate"
          },
          {
            "name": "documentNumber",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Parameter: documentNumber"
          }
        ]
      }
    },
    "/api/pe/driver-license": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "peru_api_driver_license_lookup",
        "summary": "Peru - Driver License",
        "description": "Look up Peruvian driver licenses by DNI. Returns license category, status, expiration, restrictions, issuance center, and related procedures when available from official records.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "description": "Parameter: documentType",
                    "enum": [
                      "DNI"
                    ]
                  },
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentType",
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/ar/dnrec/antecedentes": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "ar_certificate_verify",
        "summary": "Argentina - Criminal Record Certificate",
        "description": "Verify an Argentine DNREC criminal-record certificate using the request code (Solicitud) and security code (Cod. Segur.) printed on the PDF. Returns identity fields and the criminal-record statement extracted from the official certificate.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "requestCode": {
                    "type": "string",
                    "description": "Parameter: requestCode"
                  },
                  "securityCode": {
                    "type": "string",
                    "description": "Parameter: securityCode"
                  }
                },
                "required": [
                  "requestCode",
                  "securityCode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/cl/registro-civil/certificado": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "cl_certificate_verify",
        "summary": "Chile - Civil Registry Certificate",
        "description": "Verify a Chile Registro Civil (SRCEI) certificate using folio and verification code (Codigo Verificador). Returns certificate PDF metadata and conviction-register details when available.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "folio": {
                    "type": "string",
                    "description": "Parameter: folio",
                    "minimum": 10,
                    "maximum": 15
                  },
                  "verificationCode": {
                    "type": "string",
                    "description": "Parameter: verificationCode"
                  }
                },
                "required": [
                  "folio",
                  "verificationCode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/usa/florida/driver-license": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "USA"
        ],
        "operationId": "usa_api_driver_license_lookup",
        "summary": "United States - Florida Driver License",
        "description": "Florida driver license validation service",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.3"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentNumber": {
                    "type": "string",
                    "description": "Parameter: documentNumber"
                  }
                },
                "required": [
                  "documentNumber"
                ]
              }
            }
          }
        }
      }
    },
    "/api/communication/whatsapp": {
      "post": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "Global"
        ],
        "operationId": "communication_global_messaging_whatsapp",
        "summary": "Global - WhatsApp Messaging",
        "description": "Send WhatsApp messages globally through Verifik's gateway. Provide the recipient phone number, template, and variables; useful for OTP delivery, transactional alerts, and KYC notifications.",
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.02"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "POST",
                "intent": "charge",
                "currency": "USD"
              }
            }
          ]
        },
        "responses": {
          "200": {
            "description": "Success — proxied Verifik response"
          },
          "402": {
            "description": "Payment Required"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string",
                    "description": "Parameter: countryCode"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Parameter: phone"
                  },
                  "message": {
                    "type": "string",
                    "description": "Parameter: message"
                  }
                },
                "required": [
                  "countryCode",
                  "phone",
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/api/br/vehicle": {
      "get": {
        "tags": [
          "KYC",
          "KYB",
          "Data",
          "LATAM"
        ],
        "operationId": "brasil_api_vehicle",
        "summary": "Brazil - Vehicle Information",
[...]
